# Feature engineering: features from parent posts

## Read raw questions & answers data

`data/raw/stackoverflow_amazon_q.csv` is actually a tsv file.

In [105]:
import pandas as pd

RAW_Q = r'../data/raw/stackoverflow_amazon_q.csv'
RAW_A = r'../data/raw/stackoverflow_amazon_a.csv'
PIPE_C_LINGU = r'../data\pipeline\c_heuristic_features.csv'
PIPE_C_Q_TAGS = r'../data/pipeline/cq_parent_feats.csv'
PIPE_C_A_TAGS = r'../data/pipeline/ca_parent_feats.csv'

In [13]:
df_raw_questions = pd.read_table(RAW_Q, delimiter='\t', error_bad_lines=False, warn_bad_lines=False)

E:\dev\Python-venv\data-science\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [14]:
df_raw_questions.columns

Index(['Unnamed: 0', 'Id', 'PostTypeId', 'AcceptedAnswerId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'ClosedDate', 'ContentLicense', 'FavoriteCount', 'CommunityOwnedDate'],
      dtype='object')

In [15]:
df_raw_questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159515 entries, 0 to 159514
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             159515 non-null  int64
 1   Id                     159515 non-null  int64
 2   PostTypeId             159515 non-null  int64
 3   AcceptedAnswerId       63417 non-null   float64
 4   CreationDate           159515 non-null  object
 5   Score                  159515 non-null  int64
 6   ViewCount              159515 non-null  int64
 7   Body                   159515 non-null  object
 8   OwnerUserId            158175 non-null  float64
 9   OwnerDisplayName       1506 non-null    object
 10  LastEditorUserId       71278 non-null   float64
 11  LastEditorDisplayName  610 non-null     object
 12  LastEditDate           71798 non-null   object
 13  LastActivityDate       159515 non-null  object
 14  Title                  159515 non-null  object
 15  Tags                   159515 non-null  object
 16  AnswerCount            159515 non-null  int64
 17  CommentCount           159515 non-null  int64
 18  ClosedDate             2587 non-null    object
 19  ContentLicense         159515 non-null  object
 20  FavoriteCount          34920 non-null   float64
 21  CommunityOwnedDate     21 non-null      object
dtypes: float64(4), int64(7), object(11)
memory usage: 26.8+ MB

In [6]:
df_raw_questions

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,ClosedDate,ContentLicense,FavoriteCount,CommunityOwnedDate
0,0,22465,1,158640.0,2008-08-22T14:19:13.223,1,392,"<p>I've come to love <a href=""http://en.wikipe...",635.0,Rupert,...,2008-08-23T05:03:41.800,2012-09-18T13:47:59.853,I'm looking for a Windows hosting provider tha...,<hosting><windows-server-2003><amazon-ec2><vir...,5,0,2016-10-07T02:10:13.753,CC BY-SA 2.5,NaN,NaN
1,1,22556,1,NaN,2008-08-22T14:50:18.640,2,2427,<p>Is Amazon Web Services a realistic platform...,NaN,Rick Nash,...,2012-05-03T01:10:06.220,2015-11-13T13:43:47.643,Amazon Web Services,<web-services><amazon-web-services><cloud>,8,2,2017-01-29T08:55:25.627,CC BY-SA 2.5,NaN,NaN
2,2,27267,1,NaN,2008-08-26T02:12:06.790,56,50394,<p>I've been interacting with Amazon S3 throug...,658.0,Kyle,...,2012-05-03T02:03:39.923,2014-08-14T16:49:06.770,Delete Amazon S3 buckets?,<amazon-s3><buckets>,23,2,2012-09-27T19:14:30.190,CC BY-SA 2.5,30.0,NaN
3,3,27899,1,5040105.0,2008-08-26T12:30:19.253,32,21475,<p>Is there a way to make S3 default to an ind...,2961.0,Stu Thompson,...,2017-07-18T16:00:53.777,2019-09-17T07:51:26.657,Is there a way to have index.html functionalit...,<amazon-s3><amazon-web-services>,7,0,NaN,CC BY-SA 3.0,9.0,NaN
4,4,30454,1,30586.0,2008-08-27T15:31:27.517,4,2649,<p>So I wrote some perl that would parse resul...,2863.0,Scott G,...,2012-05-03T02:00:52.297,2012-05-03T02:00:52.297,Parsing XML Elements & Attributes with Perl,<xml><perl><amazon-web-services>,1,0,NaN,CC BY-SA 3.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159510,159510,63760209,1,NaN,2020-09-06T02:35:15.897,0,6,<p>Im trying to connect to my aws keyspaces us...,4023367.0,NaN,...,NaN,2020-09-06T02:35:15.897,Connect to AWS keyspaces with Spring reactive ...,<java><spring><amazon-web-services><cassandra>...,0,0,NaN,CC BY-SA 4.0,NaN,NaN
159511,159511,63760258,1,NaN,2020-09-06T02:46:39.030,0,7,<p>I'm trying to get at the Common Crawl news ...,10631953.0,NaN,...,NaN,2020-09-06T02:46:39.030,AWS credentials required for Common Crawl S3 b...,<amazon-s3><common-crawl><aws-credentials>,0,0,NaN,CC BY-SA 4.0,NaN,NaN
159512,159512,63760591,1,NaN,2020-09-06T04:01:15.807,0,11,<p>I am trying to query items in a table with ...,8883956.0,NaN,...,NaN,2020-09-06T04:01:15.807,NodeJS - how to query with multiple CONTAINS e...,<node.js><amazon-web-services><filter><amazon-...,0,0,NaN,CC BY-SA 4.0,NaN,NaN
159513,159513,63760680,1,NaN,2020-09-06T04:21:28.450,0,16,<p>I have an ec2 instance with a load balancer...,13919145.0,NaN,...,NaN,2020-09-06T04:26:58.883,Prevent anyone from accessing my bucket unless...,<amazon-web-services><amazon-s3>,1,0,NaN,CC BY-SA 4.0,NaN,NaN
159514,159514,63760731,1,NaN,2020-09-06T04:35:17.833,0,9,<h1>deploy free trial on amazon elastic beans<...,1278915.0,NaN,...,NaN,2020-09-06T04:39:20.573,Deploy on aws elastic beans stakoverflow,<java><amazon-elastic-beanstalk>,1,0,NaN,CC BY-SA 4.0,NaN,NaN

In [16]:
df_raw_questions['Tags']

0         <hosting><windows-server-2003><amazon-ec2><vir...
1                <web-services><amazon-web-services><cloud>
2                                      <amazon-s3><buckets>
3                          <amazon-s3><amazon-web-services>
4                          <xml><perl><amazon-web-services>
                                ...
159510    <java><spring><amazon-web-services><cassandra>...
159511           <amazon-s3><common-crawl><aws-credentials>
159512    <node.js><amazon-web-services><filter><amazon-...
159513                     <amazon-web-services><amazon-s3>
159514                     <java><amazon-elastic-beanstalk>
Name: Tags, Length: 159515, dtype: object

In [24]:
df_raw_answers = pd.read_csv(RAW_A, error_bad_lines=False, warn_bad_lines=False)

E:\dev\Python-venv\data-science\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df_raw_answers.columns

Index(['Id', 'PostTypeId', 'ParentId', 'CreationDate', 'Score', 'Body',
       'OwnerUserId', 'OwnerDisplayName', 'LastActivityDate', 'CommentCount',
       'ContentLicense'],
      dtype='object')

In [26]:
df_raw_answers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148406 entries, 0 to 148405
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148406 non-null  int64
 1   PostTypeId        148406 non-null  int64
 2   ParentId          148406 non-null  int64
 3   CreationDate      148406 non-null  object
 4   Score             148406 non-null  int64
 5   Body              148406 non-null  object
 6   OwnerUserId       148406 non-null  object
 7   OwnerDisplayName  148406 non-null  object
 8   LastActivityDate  148406 non-null  object
 9   CommentCount      148405 non-null  object
 10  ContentLicense    507 non-null     object
dtypes: int64(4), object(7)
memory usage: 12.5+ MB

## Read outdated comments & answers

Data for answers is WIP.

It seems I got the opposite value for 'of_answer' column: a_id is in questions IDs, q_id is in answers IDs.

In [20]:
df_outdated_comments = pd.read_csv(PIPE_C_LINGU)

In [28]:
df_outdated_comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId',
       'ContentLicense', 'of_answer', 'cnt_keywords', 'subject', 'punctuation',
       'negative_statement', 'sentence', 'subj_irrel', 'include_irrel'],
      dtype='object')

In [34]:
a_id_set = set(df_outdated_comments[df_outdated_comments['of_answer'] == False]['PostId'])
q_id_set = set(df_outdated_comments[df_outdated_comments['of_answer'] == True]['PostId'])

In [38]:
a_id_set

{327169,
 454355,
 534774,
 1204191,
 1390977,
 1496066,
 1764988,
 5093309,
 6735850,
 7170438,
 7864988,
 8686125,
 9589531,
 9592298,
 10824033,
 11706238,
 12057376,
 13148962,
 13809353,
 14258470,
 14399249,
 15176656,
 15536803,
 15550433,
 15566241,
 16444306,
 17963734,
 19095925,
 19922974,
 20112354,
 20181771,
 20450454,
 20912041,
 20983127,
 21166320,
 21814486,
 22081454,
 22130214,
 22452794,
 22492669,
 22538885,
 22592128,
 22653307,
 22666177,
 22748594,
 23120203,
 23687081,
 24048729,
 24832333,
 24965550,
 24998286,
 25266444,
 25585845,
 25669766,
 25721960,
 25780806,
 25810197,
 25943805,
 26040485,
 26245942,
 27220857,
 27617147,
 27721587,
 28308210,
 28421570,
 28657918,
 28704869,
 28943067,
 28994339,
 29039296,
 29166595,
 29556043,
 30005655,
 30208167,
 30519246,
 30573006,
 31461474,
 31493443,
 31765273,
 32030489,
 32356333,
 32811227,
 32853050,
 33026648,
 33135286,
 33142530,
 33166518,
 33231810,
 33275885,
 33969384,
 34485241,
 34736988,
 34900057,
 35468996,
 35574645,
 35642848,
 35841395,
 35992215,
 35999472,
 36127475,
 36475234,
 36489536,
 36538720,
 36553218,
 36594364,
 36830462,
 36877647,
 37212385,
 37273062,
 37502807,
 37597388,
 37747840,
 37748481,
 37985339,
 38300450,
 38359801,
 38568310,
 38601341,
 38693213,
 38848549,
 38992170,
 39144500,
 39214623,
 39299548,
 39310433,
 39685162,
 39772259,
 39791585,
 39813634,
 40124794,
 40319983,
 40367382,
 40513729,
 40607343,
 41448626,
 41456423,
 41461307,
 41565297,
 41743379,
 42041790,
 42196222,
 42301135,
 42540154,
 42572050,
 42588740,
 42616814,
 43020026,
 43200433,
 43207068,
 43208129,
 43355074,
 43533010,
 43715537,
 43970207,
 44234718,
 44331491,
 44339167,
 44481490,
 44585509,
 44694409,
 44745294,
 44881026,
 44938395,
 45181146,
 45307493,
 45433734,
 45464521,
 45470456,
 45509283,
 45708589,
 45711312,
 45806031,
 45828477,
 46201976,
 46247669,
 46291252,
 46354628,
 46483464,
 46672074,
 46866421,
 46958123,
 46994257,
 47022625,
 47107153,
 47115455,
 47122894,
 47129430,
 47221383,
 47461163,
 47516633,
 47603687,
 47701044,
 47818985,
 47837489,
 47839648,
 47890003,
 47954275,
 47976502,
 48138088,
 48198736,
 48247353,
 48300124,
 48306161,
 48311411,
 48340877,
 48471883,
 48490170,
 48522013,
 48536001,
 48634396,
 48697976,
 48883332,
 48990710,
 49292936,
 49752032,
 49777518,
 50079279,
 50194454,
 50304155,
 50362408,
 50404517,
 50461966,
 50769351,
 50823092,
 50856581,
 50866472,
 50937481,
 51034175,
 51181359,
 51398395,
 51467811,
 51544101,
 51709317,
 51723922,
 51874779,
 51930733,
 51960884,
 52324190,
 52435807,
 52556989,
 52596370,
 52651688,
 52999046,
 53085639,
 53179652,
 53216405,
 53369224,
 53476616,
 53476813,
 53553622,
 53646566,
 53782781,
 53837914,
 53909393,
 53933424,
 54017617,
 54087935,
 54188428,
 54205808,
 54372899,
 54518637,
 54793135,
 54846513,
 54875545,
 55026078,
 55102715,
 55225922,
 55282027,
 55315599,
 55473732,
 55608473,
 55871536,
 55878755,
 55939739,
 56034450,
 56319766,
 56457420,
 56497613,
 56630460,
 57078934,
 57099076,
 57273290,
 57403090,
 57464425,
 57485394,
 57646174,
 57708294,
 57812080,
 57845586,
 57892061,
 57959965,
 58045422,
 58142902,
 58237518,
 58321545,
 58362062,
 58547705,
 58763005,
 58812207,
 58828358,
 58853686,
 58951511,
 59071423,
 59144875,
 59157219,
 59390145,
 59531126,
 59541382,
 59562704,
 59575949,
 59603533,
 59897101,
 59919041,
 60401206,
 60494993,
 60500683,
 60544631,
 60695995,
 60813333,
 60849527,
 60901883,
 61068708,
 61341659,
 61544570,
 61627501,
 61736751,
 61876285,
 61918972,
 61930494,
 61955303,
 62104602,
 62242033,
 62323590,
 62339253,
 62458133,
 62579564,
 62674909,
 62757921,
 62860407,
 63100553,
 63241324,
 63640052,
 63644158,
 63679395,
 63695581}

In [46]:
sum(df_raw_answers['Id'].isin(a_id_set))

0

In [62]:
df_raw_questions.columns

Index(['Unnamed: 0', 'Id', 'PostTypeId', 'AcceptedAnswerId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'ClosedDate', 'ContentLicense', 'FavoriteCount', 'CommunityOwnedDate'],
      dtype='object')

In [53]:
df_raw_answers.columns

Index(['Id', 'PostTypeId', 'ParentId', 'CreationDate', 'Score', 'Body',
       'OwnerUserId', 'OwnerDisplayName', 'LastActivityDate', 'CommentCount',
       'ContentLicense'],
      dtype='object')

In [63]:
df_outdated_comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId',
       'ContentLicense', 'of_answer', 'cnt_keywords', 'subject', 'punctuation',
       'negative_statement', 'sentence', 'subj_irrel', 'include_irrel'],
      dtype='object')

In [45]:
sum(df_raw_questions['Id'].isin(q_id_set))

0

In [59]:
df_used_ans = df_raw_answers[df_raw_answers['Id'].isin(q_id_set)]
a_pid_set = set(df_used_ans['ParentId'])
df_used_que = df_raw_questions[df_raw_questions['Id'].isin(a_id_set.union(a_pid_set))]

## Join tables

First, join the answers with features in questions. (only the tags & FavoriteCount & ClosedDate)

Then join the comments with the question table and joined answer table.

In [84]:
Q_FEAT_COLS = ['Id', 'CreationDate', 'Score', 'ViewCount',
               'LastEditDate', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
               'ClosedDate', 'FavoriteCount']
A_FEAT_COLS = ['Id', 'ParentId', 'CreationDate', 'Score', 'Body',
               'LastActivityDate', 'CommentCount']

In [66]:
df_used_ans = df_used_ans[A_FEAT_COLS]
df_used_que = df_used_que[Q_FEAT_COLS]

In [96]:
df_comments_a = df_outdated_comments[df_outdated_comments['of_answer'] == True]
df_comments_q = df_outdated_comments[df_outdated_comments['of_answer'] == False]

In [83]:
df_joined_ans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 330
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_ans                331 non-null    int64
 1   ParentId              331 non-null    int64
 2   CreationDate_ans      331 non-null    object
 3   Score_ans             331 non-null    int64
 4   Body                  331 non-null    object
 5   LastActivityDate_ans  331 non-null    object
 6   CommentCount_ans      331 non-null    object
 7   Id_que                331 non-null    int64
 8   CreationDate_que      331 non-null    object
 9   Score_que             331 non-null    int64
 10  ViewCount             331 non-null    int64
 11  LastEditDate          174 non-null    object
 12  LastActivityDate_que  331 non-null    object
 13  Title                 331 non-null    object
 14  Tags                  331 non-null    object
 15  AnswerCount           331 non-null    int64
 16  CommentCount_que      331 non-null    int64
 17  ClosedDate            12 non-null     object
 18  FavoriteCount         161 non-null    float64
 19  CommunityOwnedDate    0 non-null      object
dtypes: float64(1), int64(8), object(11)
memory usage: 54.3+ KB

In [68]:
df_joined_ans = pd.merge(df_used_ans, df_used_que, how='left', 
                         left_on='ParentId', right_on='Id',
                        suffixes=('_ans','_que'))

In [72]:
df_comments_q.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId',
       'ContentLicense', 'of_answer', 'cnt_keywords', 'subject', 'punctuation',
       'negative_statement', 'sentence', 'subj_irrel', 'include_irrel'],
      dtype='object')

In [74]:
df_used_que.columns

Index(['Id', 'CreationDate', 'Score', 'ViewCount', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'ClosedDate', 'FavoriteCount', 'CommunityOwnedDate'],
      dtype='object')

None of question IDs is a PostId in `df_comments_q`. (fixed; now it's right.)

In [97]:
sum(df_used_que.Id.isin(set(df_comments_q.PostId)))

329

In [98]:
sum(df_used_que.Id.isin(set(df_comments_a.PostId)))

0

In [104]:
df_joined_com_q = pd.merge(df_comments_q, df_used_que, how='left',
                          left_on='PostId', right_on='Id', suffixes=('', '_que'))
df_joined_com_q.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId',
       'ContentLicense', 'of_answer', 'cnt_keywords', 'subject', 'punctuation',
       'negative_statement', 'sentence', 'subj_irrel', 'include_irrel',
       'Id_que', 'CreationDate_que', 'Score_que', 'ViewCount', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'ClosedDate', 'FavoriteCount', 'CommunityOwnedDate'],
      dtype='object')

In [101]:
df_joined_com_q.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 0 to 370
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id_com              371 non-null    int64
 1   PostId              371 non-null    int64
 2   Score_com           371 non-null    int64
 3   Text                371 non-null    object
 4   CreationDate_com    371 non-null    object
 5   UserId              371 non-null    object
 6   ContentLicense      371 non-null    object
 7   of_answer           371 non-null    bool
 8   cnt_keywords        371 non-null    int64
 9   subject             127 non-null    object
 10  punctuation         371 non-null    object
 11  negative_statement  371 non-null    int64
 12  sentence            371 non-null    object
 13  subj_irrel          371 non-null    bool
 14  include_irrel       371 non-null    bool
 15  Id_que              355 non-null    float64
 16  CreationDate_que    355 non-null    object
 17  Score_que           355 non-null    float64
 18  ViewCount           355 non-null    float64
 19  LastEditDate        181 non-null    object
 20  LastActivityDate    355 non-null    object
 21  Title               355 non-null    object
 22  Tags                355 non-null    object
 23  AnswerCount         355 non-null    float64
 24  CommentCount        355 non-null    float64
 25  ClosedDate          9 non-null      object
 26  FavoriteCount       83 non-null     float64
 27  CommunityOwnedDate  0 non-null      object
dtypes: bool(3), float64(6), int64(5), object(14)
memory usage: 76.4+ KB

In [103]:
df_joined_com_a = pd.merge(df_comments_a, df_joined_ans, how='left',
                          left_on='PostId', right_on='Id_ans')
df_joined_com_a.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId',
       'ContentLicense', 'of_answer', 'cnt_keywords', 'subject', 'punctuation',
       'negative_statement', 'sentence', 'subj_irrel', 'include_irrel',
       'Id_ans', 'ParentId', 'CreationDate_ans', 'Score_ans', 'Body',
       'LastActivityDate_ans', 'CommentCount_ans', 'Id_que',
       'CreationDate_que', 'Score_que', 'ViewCount', 'LastEditDate',
       'LastActivityDate_que', 'Title', 'Tags', 'AnswerCount',
       'CommentCount_que', 'ClosedDate', 'FavoriteCount',
       'CommunityOwnedDate'],
      dtype='object')

## Save the joined tables

In [106]:
df_joined_com_a.to_csv(PIPE_C_A_TAGS, index=False)
df_joined_com_q.to_csv(PIPE_C_Q_TAGS, index=False)